{% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Edit Ratings</h2>
        <form role="form" method="post">
        <table class="table table-bordered">  
        <thead>
          <tr>
            <th>Beer Name</th>
            <th>Beer Rating </th>
            <th>Beer Brewer </th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          
          {% csrf_token %}   
          {% for form in formset %}
          <tr>
            <td> {{ form.beer_name }}</td>
            <td>  {{ form.score }}</td>
            <td>{{ form.brewer_name }}</td>
            <td>  {{ form.notes }} </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        <div><button type="submit" class="btn btn-primary">Submit</button> <a href="{% url 'rating-home' %}" class="btn btn-primary">Cancel</a></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}